@page
@model Delivery_App.Pages.Delivery.EditDeliveryModel
@{
}


<!--
This is a form in an ASP.NET Core Razor view for editing an existing delivery record.
The form includes fields for delivery time, destination, and payment status.
If there is an error message stored in TempData with the key "Datefailed", 
it will be displayed at the top of the form.The form data, representing 
the updated delivery record, will be sent to the server using the HTTP 
POST method when the form is submitted.
-->



<div class="col-12 mb-4">
    @if (TempData["Datefailed"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Datefailed"]
        </div>
    }
</div>

<form method="post">
    <div class="row">
        <div class="col-md-12 form-group  mb-3">
            <label asp-for="@Model.command.DeliveryTime" class="mb-2">تاریخ</label>
            <input class="form-control" asp-for="@Model.persiantime" type="datetime" value="@Model.persiantime" maxlength="9" />
        </div>
        <div class="col-md-12 form-group  mb-3">
            <label asp-for="@Model.command.DestinationName" class="mb-2">گروه</label>
            <select asp-items="@Model.destinations" asp-for="@Model.command.DestinationId" class="form-control">
            </select>
        </div>
        <div class="col-md-12 form-group  mb-3">
            <label for="categoryid" class="mb-2">قیمت انتخابی (اختیاری)</label>
            <input class="form-control" asp-for="@Model.command.OptionalPrice" />
        </div>
        <div class="col-md-12 form-group mb-3">
            <label asp-for="@Model.command.IsPaid" class="m-2">پرداخت شد</label>
            <input asp-for="@Model.command.IsPaid" type="checkbox" value="true" />
        </div>
        <input type="hidden" asp-for="@Model.command.Id" />
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-success">ویرایش</button>
        </div>
    </div>
</form>