
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delivery_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Delivery_App.styles.css" asp-append-version="true" />
</head>
<style>
    .disabled-button {
        color: #ccc !important;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Delivery_App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Delivery/CreateDelivery">ایجاد سفر جدید</a>
                        </li>
                        <li class="nav-item align-content-center">
                            <a> | </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Destination/Index">مدیریت مقصد ها</a>
                        </li>
                        <li class="nav-item align-content-center">
                            <a> | </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/InCome/Index">درآمد</a>
                        </li>
                        <li class="nav-item align-content-center">
                            <a> | </a>
                        </li>
                        <li class="nav-item">
                            <form asp-page-handler="MarkAllAsPaid" method="post">
                                <button type="submit" onclick="return confirm(' آیا از تسویه حساب کامل مطمئن هستید ؟');" class="nav-link text-dark
                                @{ if (ViewContext.RouteData.Values["page"].ToString() != "/Index") { <text>disabled-button</text> } }"
                                        style="background: none; border: none; padding: 0; font-size: inherit; line-height: inherit; padding: 0.5rem 1rem; display: inline-block;"
                                        @{ if (ViewContext.RouteData.Values["page"].ToString() != "/Index") { <text> disabled</text>; } }>
                                    تسویه حساب
                                </button>
                            </form>
                        </li>

                        <!--handel the search opreation for deliveries or destinations-->
                        @if (ViewData["SearchType"]?.ToString() == "Deliveries")
                        {
                            <form method="get" class="mx-auto" id="searchForm">
                                <div class="input-group m-auto" style="width: 200px;">
                                    <input type="search" class="form-control" 
                                           placeholder="جستجو" id="searchInput" name="DeliverySearch"
                                           value="@ViewData["DeliverySearch"]" autocomplete="off" />
                                </div>
                            </form>
                        }

                        @if (ViewData["SearchType"]?.ToString() == "Destinations")
                        {
                            <form method="get" class="mx-auto" id="searchForm">
                                <div class="input-group m-auto" style="width: 200px;">
                                    <input type="search" class="form-control" name="DestinationSearch"
                                           placeholder="جستجو" id="searchInput" 
                                           value="@ViewData["DestinationSearch"]" />
                                </div>
                            </form>
                        }



                    </ul>

                    <!--fill of the Paid and NotPaid Values-->
                    <div class="d-flex align-items-center justify-content-center text-center">
                        <p class="mb-0 text-danger">پرداخت نشده : @ViewData["NotPaidPrice"]</p>
                        <span class="align-content-center px-4"> | </span>
                        <p class="mb-0 text-success">درآمد کل : @ViewData["PaidPrice"]</p>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-start align-items-center fs-5 text-end">
            <div class="me-2">
                کاربر <a class="text-primary text-decoration-none fs-5">( @ViewData["UserName"] )</a>
            </div>
            <span class="mx-2">|</span>
            <div>
                <a class="text-primary text-decoration-none fs-5" asp-area="" asp-page="/AccountManagement/Index">مدیریت</a>
            </div>
            <span class="mx-2">|</span>
            <div class="nav-item">
                <form asp-page-handler="Logout" method="post">
                    <button type="submit" class="nav-link text-danger
                                        @{ if (ViewContext.RouteData.Values["page"].ToString() != "/Index") { <text>disabled-button</text> } }"
                            style="background: none; border: none; padding: 0; font-size: inherit; line-height: inherit;  display: inline-block;"
                            @{ if (ViewContext.RouteData.Values["page"].ToString() != "/Index") { <text> disabled</text>; } }>
                        خروج
                    </button>
                </form>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>