@page
@model Delivery_App.Pages.Destination.EditDestinationModel
@{
}



<!-- This code represents a form for editing a destination
It includes fields for the destination name and price, 
a hidden field for the destination id, and a submit button.
The form data is bound to the Command object in the model. -->

<form method="post">
    <div class="row">
        <div class="col-md-12 form-group mb-3">
            <label asp-for="@Model.Command.DestinationName">نام مقصد</label>
            <input class="form-control" asp-for="@Model.Command.DestinationName" type="text" />
            <span class="alert-danger"></span>
        </div>
        <div class="col-md-12 form-group mb-3">
            <label asp-for="@Model.Command.Price">قیمت</label>
            <input class="form-control" asp-for="@Model.Command.Price" type="text" />
            <span class="alert-danger"></span>
        </div>
        <input type="hidden" asp-for="@Model.Command.Id"/>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">ثبت کردن</button>
        </div>
    </div>
</form>
